PORT=5000
NODE_ENV=development

# Development Database
DEV_DB_HOST=localhost
DEV_DB_PORT=3306
DEV_DB_NAME=smartro
DEV_DB_USER=root
DEV_DB_PASSWORD=

# Production Database (Update these with your actual live server credentials)
PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_NAME=smartro
PROD_DB_USER=root
PROD_DB_PASSWORD=

JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=7d
